{{ define "remark/static/login/login.html" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh">
  <head>
    {{template "remark/static/comm/header_meta.html" .}}
    
    <title>{{ .title }}</title>

    {{template "remark/static/comm/header_css.html" .}}
    {{template "remark/static/comm/header_js.html" .}}
  </head>
  <body class="animsition page-login-v3 layout-full">
    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="panel">
          <div class="panel-body">
            <div class="brand">
              <!-- https://www.easyicon.net/iconsearch/%E8%8D%89%E8%8E%93/ -->
              <!-- https://www.easyicon.net/1234453-strawberry_icon.html -->
              <img class="brand-img" src="/webroot/classic/base/assets/images/strawberry-1-48px.svg" alt="...">
              <h2 class="brand-text font-size-18">草 莓 派</h2>
            </div>
            <form method="post" action="#">
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="username" class="form-control" name="username" />
                <label class="floating-label">用户</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="password" class="form-control" name="password" />
                <label class="floating-label">密码</label>
              </div>
              <div class="form-group clearfix">
                <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
                  <input type="checkbox" id="inputCheckbox" name="remember">
                  <label for="inputCheckbox">记住我</label>
                </div>
                <a class="float-right" href="/forgot">忘记密码?</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">登 录</button>
            </form>
            <p>还没有账号?  立即 <a href="/register">注册</a></p>
          </div>
        </div>

        
        <footer class="page-copyright page-copyright-inverse">
          <p>design by luotang.me</p>
          <p>© 2020 all right reserved.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-github" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-webchat" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-qq" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                <i class="icon bd-weibo" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

 
    {{template "remark/static/comm/footer_js.html" .}}
    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
  </body>
</html>
{{ end }}