{{ define "remark/web/login/lockscreen.html" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh">
  <head>
    {{template "remark/web/comm/header_meta.html" .}}
    
    <title>锁屏</title>

    {{template "remark/web/comm/header_css.html" .}}
    {{template "remark/web/comm/header_js.html" .}}
  </head>
  <body class="animsition page-locked layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="avatar avatar-lg">
          <img src="/webroot/classic/base/assets/images/strawberry-1-48px.svg" alt="...">
        </div>
        <p class="locked-user">luotang</p>
        <form method="post" role="form">
          <div class="input-group">
            <input type="password" class="form-control last" id="inputPassword" name="password"
              placeholder="输入密码">
            <span class="input-group-append">
              <button type="submit" class="btn btn-primary"><i class="icon wb-unlock" aria-hidden="true"></i>
                <span class="sr-only">解锁</span>
              </button>
            </span>
          </div>
        </form>
        <p>输入密码解锁</p>
        <p><a href="/login">切换账户</a></p>

        <footer class="page-copyright page-copyright-inverse">
          <p>design by luotang.me</p>
          <p>© 2020 all right reserved.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-github" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-webchat" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-qq" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                <i class="icon bd-weibo" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

    {{template "remark/web/comm/footer_js.html" .}}
    
    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
  </body>
</html>
{{ end }}