{{ define "remark/web/mobile/mobile.html" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh">
  <head>
    {{template "remark/web/comm/header_meta.html" .}}
    
    <title>Mobile</title>

    {{template "remark/web/comm/header_css.html" .}}
    {{template "remark/web/comm/header_js.html" .}}
  </head>
  <body class="animsition app-travel">
    {{template "remark/web/comm/nav_top.html" .}}
    {{template "remark/web/comm/nav_left.html" .}}
    {{template "remark/web/comm/nav_grid.html" .}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">网络</a></li>
          <li class="breadcrumb-item active">无线拨号</li>
        </ol>
      </div>
      <div class="page-content container-fluid">
        <!-- Panel Tabs -->
        <div class="panel">
          <!-- <div class="panel-heading">
            <h3 class="panel-title">Tabs</h3>
            
            
          </div> -->
          <!-- <div class="panel-body container-fluid">
            <input type="checkbox" data-plugin="switchery" checked />
            <p>开启:</p><input type="checkbox" data-plugin="switchery" data-color="#17b3a3" checked>
             </input>
          </div> -->
          <div class="panel-body container-fluid">
            <div class="page-aside-inner nav-tabs-animate">
              <div class="page-nav-tabs">
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="tab" href="#dial_stat" aria-controls="travel-spots"
                      aria-expanded="false" role="tab">拨号状态</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#dial_config" aria-controls="travel-hotels"
                      aria-expanded="true" role="tab">拨号配置</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#dial_plan" aria-controls="travel-hotels"
                      aria-expanded="true" role="tab">拨号计划</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#white_list" aria-controls="travel-reviews"
                      aria-expanded="false" role="tab">白名单</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#modem_info" aria-controls="travel-reviews"
                      aria-expanded="false" role="tab">模块信息</a>
                  </li>
                </ul>
              </div>
              <div class="page-aside-content page-aside-scroll">
                <div data-role="container">
                  <div data-role="content">
                    <div class="tab-content pt-20 pl-60">
                      <div class="tab-pane animation-fade active" id="dial_stat" role="tabpanel" aria-expanded="ture">
                        <div class="row row-lg">
                          <div class="col-xl-5">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>设备参数</th>
                                  <th>设备状态</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-middle">实时模式</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">TDDLTE</span>
                                    <span class="badge badge-outline badge-warning">GSM</span>
                                    <span class="badge badge-outline badge-danger">None</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">SIM状态</td>
                                  <td>
                                    <span class="badge badge-primary">正常</span>
                                    <span class="badge badge-warning">卡已欠费</span>
                                    <span class="badge badge-danger">卡不存在</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">信号强度</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">100</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">拨号状态</td>
                                  <td>
                                    <span class="badge badge-round badge-primary">连接成功</span>
                                    <span class="badge badge-round badge-dark">正在连接</span>
                                    <span class="badge badge-round badge-danger">断开连接</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">IP&nbsp&nbsp&nbsp地址</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">192.168.1.1</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">掩码地址</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">192.168.1.1</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">网关地址</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">192.168.1.1</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-middle">DNS地址</td>
                                  <td>
                                    <span class="badge badge-outline badge-primary">192.168.1.1</span>
                                  </td>
                                </tr>
                                <tbody>
                            </table>
                          </div>
                        </div>
                      </div>
    
                      <div class="tab-pane animation-fade" id="dial_config" role="tabpanel" aria-expanded="false">
                        <div class="row row-lg">
                          <div class="col-xl-5">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">网络切换: </label>
                                <div class="col-md-9">
                                  <select data-plugin="selectpicker" data-style="btn-outline btn-primary">
                                    <option>Auto</option>
                                    <option>5G</option>
                                    <option>4G</option>
                                    <option>3G</option>
                                    <option>2G</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">下线时间: </label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="name" placeholder="3600秒" autocomplete="off"
                                  />
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">用户名: </label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="name" placeholder="ctlte" autocomplete="off"
                                  />
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">密码: </label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="name" placeholder="ctlte" autocomplete="off"
                                  />
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">APN: </label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="name" placeholder="ctlte.cn" autocomplete="off"
                                  />
                                </div>
                                <label class="col-md-3 col-form-label">MTU: </label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="name" placeholder="1400" autocomplete="off"
                                  />
                                </div>
                              </div>
                              <div class="form-group row">
                                <legend class="col-md-3 col-form-label">鉴权: </legend>
                                <div class="col-md-9 d-flex align-items-center">
                                  <div class="radio-custom radio-default radio-inline">
                                    <input type="radio" id="_inputHorizontalMale" name="inputRadiosMale2" />
                                    <label for="inputHorizontalMale">None</label>
                                  </div>
                                  <div class="radio-custom radio-default radio-inline">
                                    <input type="radio" id="_inputHorizontalFemale" name="inputRadiosMale2" checked
                                    />
                                    <label for="inputHorizontalFemale">PAP</label>
                                  </div>
                                  <div class="radio-custom radio-default radio-inline">
                                    <input type="radio" id="_inputHorizontalMale" name="inputRadiosMale2" />
                                    <label for="inputHorizontalMale">CHAP</label>
                                  </div>
                                  <div class="radio-custom radio-default radio-inline">
                                    <input type="radio" id="_inputHorizontalFemale" name="inputRadiosMale2" checked
                                    />
                                    <label for="inputHorizontalFemale">AUTO</label>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-md-9">
                                  <button type="button" class="btn btn-primary">保存 </button>
                                  <button type="reset" class="btn btn-default btn-outline">重置</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          
                        </div>
                      </div>

                      <div class="tab-pane animation-fade page-content-table bg-white" id="dial_plan" role="tabpanel"
                        aria-expanded="false">
                        <div class="row row-lg">
                          <div class="col-xl-6">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">拨号模式: </label>
                                <div class="col-md-9">
                                  <select data-plugin="selectpicker" 
                                          data-style="btn-outline btn-primary">
                                    <option>自动</option>
                                    <option>手动</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">拨号天数: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepicker">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="icon wb-calendar" aria-hidden="true"></i>
                                        </span>
                                      </div>
                                      <input type="text" class="form-control" name="start" />
                                    </div>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">to</span>
                                      </div>
                                      <input type="text" class="form-control" name="end" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期一: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期二: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期三: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期四: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期五: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期六: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label">星期日: </label>
                                <div class="col-md-9">
                                  <div class="input-daterange" data-plugin="datepair">
                                    <div class="input-daterange-wrap">
                                      <div class="input-daterange">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="icon wb-time" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control datepair-time datepair-start" data-plugin="timepicker"
                                          />
                                        </div>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">to</span>
                                          </div>
                                          <input type="text" class="timepicker form-control" data-plugin="clockpicker" data-autoclose="true">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                  <button type="button" class="btn btn-primary"> 保 存 </button>
                                  <button type="reset" class="btn btn-default btn-outline"> 重 置 </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      
                      </div>

                      <div class="tab-pane animation-fade page-content-table bg-white" id="white_list" role="tabpanel"
                        aria-expanded="false">
                          <div class="row row-lg">
                            <div class="col-xl-6">
                                <div class="panel panel-info panel-line">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">Info Panel</h3>
                                  </div>
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero. Sed cursus ante dapibus diam.</div>
                                </div>
                            </div>
                          </div>
                      </div>
    
                      <div class="tab-pane animation-fade page-content-table bg-white" id="modem_info" role="tabpanel"
                      aria-expanded="false">
                        <div class="row row-lg">
                          <div class="col-xl-8">
                            <!-- Panel Column Toggle -->
                            <div class="panel">
                              <header class="panel-heading">
                                <h3 class="panel-title">模块支持列表</h3>
                              </header>
                              <div class="panel-body">
                                <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="columntoggle"
                                  data-tablesaw-minimap>
                                  <thead>
                                    <tr>
                                      <th data-tablesaw-priority="3">索引</th>
                                      <th data-tablesaw-priority="persist">名字</th>
                                      <th data-tablesaw-priority="2">商家</th>
                                      <th data-tablesaw-priority="1">
                                        <abbr title="日期">日期</abbr>
                                      </th>
                                      <th data-tablesaw-priority="5">价格</th>
                                      <th data-tablesaw-priority="4">推荐指数</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>1</th>
                                      <td><a href="javascript:void(0)" data-rel="external">U9300C</a></td>
                                      <td>龙尚</td>
                                      <td>2018</td>
                                      <td>¥168</td>
                                      <td>100</td>
                                    </tr>
                                    <tr>
                                      <th>2</th>
                                      <td><a href="javascript:void(0)" data-rel="external">U8300C</a></td>
                                      <td>龙尚</td>
                                      <td>2018</td>
                                      <td>¥168</td>
                                      <td>99</td>
                                    </tr>
                                    <tr>
                                      <th>3</th>
                                      <td><a href="javascript:void(0)" data-rel="external">U8300W</a></td>
                                      <td>龙尚</td>
                                      <td>2018</td>
                                      <td>¥168</td>
                                      <td>98</td>
                                    </tr>
                                    <tr>
                                      <th>4</th>
                                      <td><a href="javascript:void(0)" data-rel="external">U8300</a></td>
                                      <td>龙尚</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>5</th>
                                      <td><a href="javascript:void(0)" data-rel="external">ME909s-821</a></td>
                                      <td>华为</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>5</th>
                                      <td><a href="javascript:void(0)" data-rel="external">ME909s-521</a></td>
                                      <td>华为</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>6</th>
                                      <td><a href="javascript:void(0)" data-rel="external">NL660</a></td>
                                      <td>诺控</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>7</th>
                                      <td><a href="javascript:void(0)" data-rel="external">SIM800C</a></td>
                                      <td>芯讯通</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>8</th>
                                      <td><a href="javascript:void(0)" data-rel="external">N720</a></td>
                                      <td>方正</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>9</th>
                                      <td><a href="javascript:void(0)" data-rel="external">E系列</a></td>
                                      <td>中兴</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                    <tr>
                                      <th>10</th>
                                      <td><a href="javascript:void(0)" data-rel="external">？</a></td>
                                      <td>移远</td>
                                      <td>2018</td>
                                      <td>¥128</td>
                                      <td>97</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- End Panel Column Toggle -->
                          </div>
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    

    {{template "remark/web/comm/footer_main.html" .}}
    {{template "remark/web/comm/footer_js.html" .}}
  </body>
</html>
{{ end }}