{{ define "strawberry_forgot" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh">
  {{template "strawberry_header" .}}

  <body class="animsition page-forgot-password layout-full">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <h2>忘记了密码?</h2>
        <p>输入你的邮箱用于重置密码</p>

        <form method="post" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="你的邮件">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">重 置 密 码</button>
          </div>
        </form>

        <footer class="page-copyright page-copyright-inverse">
          <p>design by luotang.me</p>
          <p>© 2020 all right reserved.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-github" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-webchat" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-qq" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                <i class="icon bd-weibo" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

    {{template "strawberry_footer" .}}

    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
  </body>
</html>
{{ end }}