{{ define "strawberry_index" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh">

  {{template "strawberry_header" .}}

  <body class="animsition dashboard">
  
    {{template "strawberry_top" .}}
    {{template "strawberry_left" .}}
    {{template "strawberry_grid" .}}

    <!-- Page -->
    <div id="strawberry_app">
    <div class="page">
      <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
           <!--[if lt IE 8]>
           <div class="alert alert-alt alert-primary alert-dismissible" role="alert">
            <strong>INFO : </strong>请及时升级更新浏览器, 使用
            <a class="alert-link" href="https://luotang.me">'Goole-Chrome'</a>
            替代它.
          </div>
          <![endif]-->
          <div class="alert alert-alt alert-primary alert-dismissible" role="alert">
            <strong>INFO : </strong>正使用老旧浏览器, 请及时升级更新, 使用
            <a class="alert-link" href="https://luotang.me">'Goole-Chrome'</a>
            替代它.
          </div>

          <div class="col-xxl-4 col-lg-12">
            <div class="row h-full">
              <div class="col-xxl-12 col-lg-6 h-p50 h-only-lg-p100 h-only-xl-p100">
                <!-- Widget Linepoint -->
                <div class="card card-inverse card-shadow bg-blue-600 white" id="widgetLinepoint">
                  <div class="card-block p-0">
                    <div class="pt-25 px-30">
                      <div class="row no-space">
                        <div class="col-6">
                          <p>今日增长</p>
                          <p class="blue-200">昨日增长 30台云主机</p>
                        </div>
                        <div class="col-6 text-right">
                          <p class="font-size-30 text-nowrap">20台云主机</p>
                        </div>
                      </div>
                    </div>
                    <div class="ct-chart h-120"></div>
                  </div>
                </div>
                <!-- End Widget Linepoint -->
              </div>
              <div class="col-xxl-12 col-lg-6 h-p50 h-only-lg-p100 h-only-xl-p100">
                <!-- Widget Sale Bar -->
                <div class="card card-inverse card-shadow bg-purple-600 white" id="/webroot/base/html/widgetsaleBar">
                  <div class="card-block p-0">
                    <div class="pt-25 px-30">
                      <div class="row no-space">
                        <div class="col-6">
                          <p>今日增长</p>
                          <p class="purple-200">昨日增长 200G云盘</p>
                        </div>
                        <div class="col-6 text-right">
                          <p class="font-size-30 text-nowrap">300G云盘</p>
                        </div>
                      </div>
                    </div>
                    <div class="ct-chart h-120"></div>
                  </div>
                </div>
                <!-- End Widget Sale Bar -->
              </div>
            </div>
          </div>

          <div class="col-xxl-6 col-lg-12">
            <!-- Widget OVERALL VIEWS -->
            <div class="card card-shadow card-responsive" id="widgetOverallViews">
              <div class="card-block p-30">
                <div class="row pb-30" style="height:calc(100% - 250px);">
                  <div class="col-sm-4">
                    <div class="counter counter-md text-left">
                      <div class="counter-label">月度增长趋势</div>
                      <div class="counter-number-group text-truncate">
                        <span class="counter-number-related red-600">30</span>
                        <span class="counter-number red-600">%</span>
                      </div>
                      <div class="counter-label">2% 相比上个月</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="counter counter-sm text-left inline-block">
                      <div class="counter-label">云主机</div>
                      <div class="counter-number-group">
                        <span class="counter-number-related">30</span>
                        <span class="counter-number">%</span>
                      </div>
                    </div>
                    <div class="ct-chart inline-block small-bar-one"></div>
                  </div>
                  <div class="col-sm-4">
                    <div class="counter counter-sm text-left inline-block">
                      <div class="counter-label">云硬盘</div>
                      <div class="counter-number-group">
                        <span class="counter-number-related">20</span>
                        <span class="counter-number">%</span>
                      </div>
                    </div>
                    <div class="ct-chart inline-block small-bar-two"></div>
                  </div>
                </div>
                <div class="ct-chart line-chart h-250"></div>
              </div>
            </div>
            <!-- End Widget OVERALL VIEWS -->
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">CPU 内存 流量 磁盘</h3>
            </div>
            <div class="panel-body">
              <!-- Example css animation Chart -->
              <div class="example-wrap">
                <div class="row row-lg">
                  <div class="col-xl-9">
                    <div class="example">
                      <div class="ct-chart ct-golden-section" id="exampleLineAnimation"></div>
                    </div>
                  </div>
                  <div class="col-xl-3">
                    <p class="mt-20">Specifying the style of your chart in CSS is not only cleaner
                      but also enables you to use awesome CSS animations and transitions
                      to be applied to your SVG elements!</p>
                  </div>
                </div>
              </div>
              <!-- End Example css animation Chart -->
            </div>
          </div>

          <!-- TODO -->
        </div>
      </div>
    </div>
    </div>
    <!-- End Page -->

    {{template "strawberry_footer" .}}
  </body>
</html>
{{ end }}