{{ define "remark/static/error/503.html" }}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    {{template "remark/static/comm/header_meta.html" .}}
    
    <title>503</title>

    {{template "remark/static/comm/header_css.html" .}}
    {{template "remark/static/comm/header_js.html" .}}
  </head>
  <body class="animsition page-error page-error-503 layout-full">
    {{template "remark/static/comm/nav_top.html" .}}
    {{template "remark/static/comm/nav_left.html" .}}
    {{template "remark/static/comm/nav_grid.html" .}}

    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle">
        <header>
          <h1 class="animation-slide-top">503</h1>
          <p>页面丢失了 !</p>
        </header>
        <p class="error-advise">你可能希望回到主页</p>
        <a class="btn btn-primary btn-round" href="/">去吧皮卡丘</a>

        <footer class="page-copyright page-copyright-inverse">
          <p>design by luotang.me</p>
          <p>© 2020 all right reserved.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-github" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-webchat" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-qq" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                <i class="icon bd-weibo" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

    {{template "remark/static/comm/footer_main.html" .}}
    {{template "remark/static/comm/footer_js.html" .}}
    
    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
  </body>
</html>
{{ end }}